<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id="background"></div>
    <img src="static/logo_home.svg"></img>
    <div class="texte">
        <h1>About</h1>
        <h3>Cette application web est le resultat d'une collaboration entre une etudiante de l'Esad'HaR et d'un etudiant de l'ecole 42 Le Havre. </h3>
    </div>
</body>
</html>
