<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMERA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img id="bg" class="center" src="{{ url_for('video_feed') }}"></img>
        <canvas id="canvasElement"></canvas>
        <button id="captureButton"></button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>
